.find-pw__main {
    padding: 1.85rem;
    margin: 1.85rem auto;
    width: 33%;
    min-width: 26rem;
    max-width: 90%;
  }

.find-pw__control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-pw {
    margin-top: 1.55rem;
}
.change-pw label {
    margin: 1rem;
}

.change-pw-check label {
    margin: 0.55rem;
    font-size: 12px;
}

.find-pw__button button {
    margin-top: 1.45rem;
    padding: 0.5rem 8.9rem;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.find-pw__email button {
    margin-left: 0.84rem;
    padding: 0.5rem 1.25rem;
    font-size: 11px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.find-pw__cert button {
    margin-left: 0.84rem;
    margin-right: 0.73rem;
    padding: 0.45rem 1.25rem;
    font-size: 12px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.find-pw__control button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.find-pw__email, .find-pw__cert {
    float: right;
}

.find-pw__email input, .find-pw__cert input {
    width: 11.5rem;
}

.find-pw__email label {
    margin: 1rem;
}

.find-pw__cert label {
    margin: 0.536rem;
}